*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#left{
    background-color: #FF33FC;
}
#right{
    background-color: #D5DBDB;
}
.dots-nav{
    cursor: pointer;
}
svg{
    position: absolute;
    top: 50px;
    left: 380px;
    width: 50%;
    height: 50%;
    padding: 0;
    border-radius: 50%;
    z-index: 1000;
    background-color: #FF33FC;
    z-index: 10;
}
